---
import Card from "../../components/Card.astro";
import Currency from "../../components/Currency.vue"
import { passes } from "../../data/pass";
import { promotionText } from "../../data/promotion";

const promotedPass = Object.values(passes).filter((pass) => pass.isPromoted)[0]
---

<div id="tickets" class="grid">
  <Card classes={["ticket-card promotion"]}>
    <h2>{ promotionText }</h2>
  </Card>
  <Card classes={["ticket-card early-bird"]}>
    <div class="container-row">
      <div class="container-column ticket">
        <div>
          <h1><Currency price={promotedPass.price} client:only /></h1>
          { promotedPass.price.EUR != promotedPass.doorPrice.EUR && <p><s><Currency price={promotedPass.doorPrice} client:only /></s></p> }
          <h2>{promotedPass.name}</h2>
        </div>
        { !promotedPass.isSoldOut && <a href={"/pass/" + promotedPass.id} class="button action">Buy</a> }
        { promotedPass.isSoldOut && <button class="button action disabled" disabled>Sold Out</button> }
      </div>
      <div class="container-column features">
        <p class="option-available"><i class="fa-solid fa-user-group"></i> Couple option avalaible</p>
        <ul>{promotedPass.includes.map((feature) => <li>{feature}</li>)}</ul>
      </div>
    </div>
  </Card>
  {
    Object.values(passes).filter((pass) => !pass.isPromoted).map((pass) => (
      <Card classes={["ticket-card", "ticket"]}>
        <div class="container-column">
          <div>
            <h2><Currency price={pass.price} client:only /></h2>
            { pass.price.EUR != pass.doorPrice.EUR && <p><s><Currency price={pass.doorPrice} client:only /></s></p> }
            <h3>{pass.name}</h3>
          </div>
          { !pass.isSoldOut && <a href={"/pass/" + pass.id} class="button action">More Info</a> }
          { pass.isSoldOut && <button class="button action disabled" disabled>Sold Out</button> }
        </div>
      </Card>
    ))
  }
</div>

<style is:global>
  .card.promotion {
    background-color: var(--secondary-color) !important;
    grid-area: promotion;
  }
  .card.early-bird {
    grid-area: ticket-promo;
    font-size: var(--h4-font-size);
    min-height: var(--card-m-height);
  }
  .card.ticket {
    grid-column: span 4;
  }
  .ticket-card {
    min-height: var(--card-m-height);
    padding: var(--lg-padding);
  }
  @media only screen and (max-width: 920px) {
    .card.early-bird .container-row {
      flex-direction: column;
    }
    .card.early-bird .container-row > * {
      width: auto;
    }
    .card.early-bird .container-row .container-column {
      padding: 0;
    }
    .card.early-bird .container-row .container-column.ticket {
      align-items: center;
    }
    .card.ticket, .card.promotion {
      grid-column: span 12;
      min-height: 120px;
    }
    .card.ticket .container-column {
      flex-direction: row;
      align-items: center;
    }
    .card.ticket .container-column > * {
      width: 100%;
    }
    .card.ticket .text {
      width: 100%;
    }
  }
</style>

<style>
  .grid {
    grid-template-areas:
      "promotion promotion promotion promotion ticket-promo ticket-promo ticket-promo ticket-promo ticket-promo ticket-promo ticket-promo ticket-promo";
  }
  .container-row {
    display: flex;
    flex-direction: row;
    gap: var(--grid-lg-gap);
  }
  .container-column {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: var(--grid-lg-gap);
    text-align: center;
    justify-content: center;
  }
  .button.action {
    min-width: 130px;
  }
  ul {
    list-style: disc;
    text-align: left;
  }
  ul li {
    margin-bottom: 0.25rem;
  }
  .option-available {
    border-radius: 8px;
    border: 1px solid white;
    padding: var(--xs-padding);
  }
  .option-available i {
    font-size: calc(var(--h4-font-size) * 0.8);
    margin-right: 0.5rem;
  }
  .features {
    gap: var(--grid-m-gap);
  }
  @media only screen and (max-width: 920px) {
    .grid {
      grid-template-areas:
        "ticket-promo ticket-promo ticket-promo ticket-promo ticket-promo ticket-promo ticket-promo ticket-promo ticket-promo ticket-promo ticket-promo ticket-promo"
        "promotion promotion promotion promotion promotion promotion promotion promotion promotion promotion promotion promotion";
    }
    .button.action {
      min-width: 90px;
      max-width: 100px;
    }
  }
</style>
