---
import Card from "../../components/Card.astro";
import Currency from "../../components/Currency.vue"
import { passes, promotionText } from "../../data/promotion";
import { type Pass, calculateTotal } from "../../data/pass";
import { valentinePromotion } from "../../data/promotion";

const promotedPass = Object.values(passes).filter((pass) => pass.isPromoted)[0]

function calculatePrice(pass: Pass) {
  return calculateTotal(pass, Object.values(pass.options).filter((option) => option.selected).map((option) => option.id))
}
---

<div id="tickets" class="grid">
  <Card classes={["ticket-card promotion"]}>
    <h2>{ promotionText }</h2>
  </Card>
  <Card classes={["ticket-card early-bird"]}>
    <div class="container-row">
      <div class="container-column ticket">
        <div>
          <h1><Currency price={calculatePrice(promotedPass)} client:only /></h1>
          { promotedPass.price.EUR != promotedPass.doorPrice.EUR && <p><s><Currency price={promotedPass.doorPrice} client:only /></s></p> }
          <h2>{promotedPass.options['couple-option']?.selected ? 'Couple ' + promotedPass.name : promotedPass.name}</h2>
        </div>
        { !promotedPass.isSoldOut && <a href={"/pass/" + promotedPass.id} class="button action">Buy</a> }
        { promotedPass.isSoldOut && <button class="button action disabled" disabled>Sold Out</button> }
      </div>
      <div class="container-column features">
        { valentinePromotion.isActive || !promotedPass.options['couple-option'] ? '' : <p class="option-available"><i class="fa-solid fa-user-group"></i> Couple option avalaible</p> }
        <ul>{promotedPass.includes.concat(promotedPass.giveAways.map((giveAway) => '+ ' + giveAway)).map((feature) => <li>{promotedPass.giveAways.map((giveAway) => '+ ' + giveAway).includes(feature) ? <b>{feature}</b> : feature}</li>)}</ul>
      </div>
    </div>
  </Card>
  {
    Object.values(passes).filter((pass) => !pass.isPromoted).map((pass) => (
      <Card classes={["ticket-card", "ticket"]}>
        <div class="container-column">
          { valentinePromotion.isActive ? '' : <div class="couple-option-desktop">
            { Object.keys(pass.options).includes('couple-option') && <p class="option-available"><i class="fa-solid fa-user-group"></i> Couple option</p> }
          </div>}
          <div>
            <h2><Currency price={calculatePrice(pass)} client:only /></h2>
            { pass.price.EUR != pass.doorPrice.EUR && <p><s><Currency price={pass.doorPrice} client:only /></s></p> }
            { pass.giveAways.length > 0 && <p style={{ marginBottom: '1rem'}}>{pass.giveAways.map((giveAway) => '+ ' + giveAway).join('<br />')}</p>}
            <h3>{pass.options['couple-option']?.selected ? 'Couple ' + pass.name : pass.name}</h3>
          </div>
          <div class="button-container">
            { valentinePromotion.isActive ? '' : <div class="couple-option-mobile">{ Object.keys(pass.options).includes('couple-option') && <p class="option-available"><i class="fa-solid fa-user-group"></i> Couple option</p> }</div> }
            { !pass.isSoldOut && <a href={"/pass/" + pass.id} class="button action">More Info</a> }
            { pass.isSoldOut && <button class="button action disabled" disabled>Sold Out</button> }
          </div>
        </div>
      </Card>
    ))
  }
  <Card classes={["ticket-card", "ticket", "jackjill"]}>
    <div class="container-column">
      <div>
        <h2>Jack & Jill Competition (Free)</h2>
      </div>
      <div class="button-container">
        <a class="button action" target="_blank" href="https://l.facebook.com/l.php?u=https%3A%2F%2Fforms.gle%2F1AHbbgkbUaRiFT53A%3Ffbclid%3DIwZXh0bgNhZW0CMTAAAR2MWJJQsd19gxoSiPq88taFY1Z3mgoLRSLYu8bMsNvMcGm3kP9Xrc7487M_aem_nW_V9PKK05oTzYfO5BOrOQ&h=AT1FJnKE7ITQGXhbDrO0I6YWAPk892cM7NH54qwv2S5Gys-2_MVXk96UT_ac5QsgsgZtOAXgx9ALpba96KF88qUTniKc-NvuPVsBMflaIfBDGHFFLkOlG3_bkMUNsNLQQQ-c-YXYoQ&__tn__=-UK-R&c[0]=AT2ODzBawTmGtbUKieoadCLxmV1VjdBgVS-4OlamSOEYou0tfYmCcLg-RTZgbnbcH3_jqm-4p1PGAOqbdT0jbMHtUyesp_MOo_vg2jvMW9lOuo3gOOOo1d9Oc60reU9ETqBhgvmyOCGG2mUjHMKe49ktPsSuNmOxFOWT-6_R-6qFVPQSzdxx3zgB4O8iBOVu32KXXHLNUsdzg3XvUtjrGZtz44fx2HcybRMA">Sign Up</a>
      </div>
    </div>
  </Card>
</div>

<style is:global>
  .card.promotion {
    background-color: var(--secondary-color) !important;
    grid-area: promotion;
  }
  .card.early-bird {
    grid-area: ticket-promo;
    font-size: var(--h4-font-size);
    min-height: var(--card-m-height);
  }
  .card.ticket {
    grid-column: span 4;
  }
  .ticket-card {
    min-height: var(--card-m-height);
    padding: var(--lg-padding);
  }
  .early-bird .option-available i {
    font-size: calc(var(--h4-font-size) * 0.8) !important;
    margin-right: 0.5rem !important;
  }
  .jackjill  {
    background-color: #ccc0ed !important;
    color: var(--primary-darker-color) !important;
  }
  @media only screen and (max-width: 920px) {
    .card.early-bird .container-row {
      flex-direction: column;
    }
    .card.early-bird .container-row > * {
      width: auto;
    }
    .card.early-bird .container-row .container-column {
      padding: 0;
    }
    .card.early-bird .container-row .container-column.ticket {
      align-items: center;
    }
    .card.ticket, .card.promotion {
      grid-column: span 12;
      min-height: 120px;
    }
    .card.ticket .container-column {
      flex-direction: row;
      align-items: center;
    }
    .card.ticket .container-column > * {
      width: 100%;
    }
    .card.ticket .text {
      width: 100%;
    }
  }
</style>

<style>
  .grid {
    grid-template-areas:
      "promotion promotion promotion promotion ticket-promo ticket-promo ticket-promo ticket-promo ticket-promo ticket-promo ticket-promo ticket-promo";
  }
  .container-row {
    display: flex;
    flex-direction: row;
    gap: var(--grid-lg-gap);
  }
  .container-column {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: var(--grid-lg-gap);
    text-align: center;
    justify-content: center;
  }
  .button.action {
    min-width: 130px;
  }
  ul {
    list-style: disc;
    text-align: left;
  }
  ul li {
    margin-bottom: 0.25rem;
  }
  .option-available {
    border-radius: 8px;
    border: 1px solid white;
    padding: var(--xs-padding);
  }
  .option-available i {
    font-size: calc(var(--text-font-size) * 0.8);
    margin-right: 0.25rem;
  }
  .features {
    gap: var(--grid-m-gap);
  }
  .button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--grid-lg-gap);
  }
  .button-container .option-available {
    padding: 0.75rem;
    border-radius: 8px;
  }
  .couple-option-desktop {
    display: block;
  }
  .couple-option-mobile {
    display: none;
  }
  @media only screen and (max-width: 920px) {
    .grid {
      grid-template-areas:
        "ticket-promo ticket-promo ticket-promo ticket-promo ticket-promo ticket-promo ticket-promo ticket-promo ticket-promo ticket-promo ticket-promo ticket-promo"
        "promotion promotion promotion promotion promotion promotion promotion promotion promotion promotion promotion promotion";
    }
    .button.action {
      min-width: 90px;
      max-width: 100px;
    }
    .couple-option-desktop {
      display: none;
    }
    .couple-option-mobile {
      display: block;
    }
  }
</style>
