---
import Card from "../../components/Card.astro";
import { artists } from "../../data/edition3/artist";
---

<div class="container">
  <div class="list">
    {
      [artists.audilaura, artists.tpeak, artists.asia, artists.ozyshine].map((artist) => (
        <Card backgroundPath={artist.image} classes={["dual-card artist-card featured-card"]}>
          {artist.name}
        </Card>
      ))
    }
    {
      [artists.quinn, artists.oncleKani, artists.david, artists.tonya, artists.stef, artists.ploy, artists.selva, artists.lucerne].map((artist) => (
        <Card backgroundPath={artist.image} classes={["dual-card artist-card small-artist-card"]}>
          {artist.name}<br/>
          <div class="subtitle">{artist.musicStyle}</div>
        </Card>
      ))
    }
  </div>
</div>

<style is:global>
  .artist-card {
    height: 375px !important;
    align-items: end !important;
  }
  .featured-card {
    width: calc((100% / 4) - 0.8rem) !important;
  }
  .small-artist-card {
    width: calc((100% / 4) - 1rem) !important;
    height: 275px !important;
  }
  .small-artist-card .text {
    font-size: var(--h4-font-size) !important;
  }
  .artist-card .text {
    margin-bottom: 1rem;
    font-size: var(--h3-font-size);
    font-weight: bold;
    text-shadow: 0px 0px 5px black;
  }
  .artist-card .text .subtitle {
    font-size: var(--text-font-size);
    font-weight: normal;
    text-shadow: none;
    text-align: center;
  }
  .artist-card .background {
    border-radius: 20px !important;
  }
  .artist-card .background .overlay {
    background-color: rgba(0, 0, 0, 0.2) !important;
  }
  @media only screen and (max-width: 920px) {
    .featured-card {
      width: calc((100% / 2) - 0.8rem) !important;
    }
    .artist-card {
      height: 275px !important;
    }
    .small-artist-card {
      width: calc((100% / 3) - 0.8rem) !important;
      height: 100px !important;
    }
    .small-artist-card .text {
      font-size: var(--text-font-size) !important;
    }
    .artist-card .text {
      padding: 0.75rem !important;
      margin-bottom: 0.5rem;
    }
  }
</style>