---
import Card from "../../components/Card.astro";
import Currency from "../../components/Currency.vue"
import FirstInstallment from "../../components/FirstInstallment.vue";
import { type Pass, calculateTotal, defaultPasses } from "../../data/edition3/pass";

const fullpassValentine = defaultPasses.fullPassValentine
const vipSilverValentine = defaultPasses.vipSilverValentine
const vipGoldValentine = defaultPasses.vipGoldValentine
const fullpass = defaultPasses.fullPass
const vipSilverPass = defaultPasses.vipSilverPass
const vipGoldPass = defaultPasses.vipGoldPass
const sametBangkokPass = defaultPasses.sametBangkokPass
const sametPass = defaultPasses.sametPass

function calculatePrice(pass: Pass) {
  return calculateTotal(pass, Object.values(pass.options).filter((option) => option.selected).map((option) => option.id))
}
---

<div id="tickets" class="container">
    <Card classes={["ticket-card", "ticket", "fullpassValentine"]}>
      <div class="heart">💝</div>
      <div class="installment-annotation valentine">Pay Over 3 Months</div>
      <div class="container-column">
        <div>
          <h2><Currency price={calculatePrice(fullpassValentine)} client:only /></h2>
          <p class="fInstallment"><FirstInstallment term={3} amountToBePaid={calculatePrice(fullpassValentine)} today={new Date()} client:only /></p>
          { fullpassValentine.price.EUR != fullpassValentine.doorPrice.EUR && <p><s><Currency price={fullpassValentine.doorPrice} client:only /></s></p> }
          <h3>{fullpassValentine.name}</h3>
          <p>+ 1H Massage per person</p>
          <p>Limited to 14 couples</p>
        </div>
        <div class="button-container">
          { !fullpassValentine.isSoldOut && <a href={"/pass/" + fullpassValentine.id} class="button action">Buy Now</a> }
          { fullpassValentine.isSoldOut && <button class="button action disabled" disabled>Sold Out</button> }
        </div>
      </div>
    </Card>
    <Card classes={["ticket-card", "ticket", "vipSilverValentine"]}>
      <div class="heart">💝</div>
      <div class="installment-annotation valentine">Pay Over 3 Months</div>
      <div class="container-column">
        <div>
          <h2><Currency price={calculatePrice(vipSilverValentine)} client:only /></h2>
          <p class="fInstallment"><FirstInstallment term={3} amountToBePaid={calculatePrice(vipSilverValentine)} today={new Date()} client:only /></p>
          { vipSilverValentine.price.EUR != vipSilverValentine.doorPrice.EUR && <p><s><Currency price={vipSilverValentine.doorPrice} client:only /></s></p> }
          <h3>{vipSilverValentine.name}</h3>
          <p>Limited to 14 couples</p>
        </div>
        <div class="button-container">
          { !vipSilverValentine.isSoldOut && <a href={"/pass/" + vipSilverValentine.id} class="button action">Buy Now</a> }
          { vipSilverValentine.isSoldOut && <button class="button action disabled" disabled>Sold Out</button> }
        </div>
      </div>
    </Card>
    <Card classes={["ticket-card", "ticket", "vipGoldValentine"]}>
      <div class="heart">💝</div>
      <div class="installment-annotation valentine">Pay Over 3 Months</div>
      <div class="container-column">
        <div>
          <h2><Currency price={calculatePrice(vipGoldValentine)} client:only /></h2>
          <p class="fInstallment"><FirstInstallment term={3} amountToBePaid={calculatePrice(vipGoldValentine)} today={new Date()} client:only /></p>
          { vipGoldValentine.price.EUR != vipGoldValentine.doorPrice.EUR && <p><s><Currency price={vipGoldValentine.doorPrice} client:only /></s></p> }
          <h3>{vipGoldValentine.name}</h3>
          <p>Limited to 14 couples</p>
        </div>
        <div class="button-container">
          { !vipGoldValentine.isSoldOut && <a href={"/pass/" + vipGoldValentine.id} class="button action">Buy Now</a> }
          { vipGoldValentine.isSoldOut && <button class="button action disabled" disabled>Sold Out</button> }
        </div>
      </div>
    </Card>
    <Card classes={["date-card", "bangkok"]} backgroundPath="/images/mahanakhon.png">
      <h2>5-8 Sep 2025</h2>
      <h4>Bangkok, Thailand</h4>
      <p style="margin-top: 1rem;">13H Workshops<br/>6H Masterclass<br/>30H of Dancing<br/>Exclusive Party Cruise<br/>Day Time Social</p>
    </Card>
    <Card classes={["date-card", "samet"]} backgroundPath="/images/koh-samet.jpg">
      <h2>9-12 Sep 2025</h2>
      <h4>Koh Samet, Thailand</h4>
      <p style="margin-top: 1rem;">4 Days In Koh Samet Island<br/>Workshops & Parties<br/>Outdoor Activities</p>
    </Card>
    <Card classes={["ticket-card", "ticket", "fullpass"]}>
      <div class="container-column">
        <div>
          <h2><Currency price={calculatePrice(fullpass)} client:only /></h2>
          { fullpass.price.EUR != fullpass.doorPrice.EUR && <p><s><Currency price={fullpass.doorPrice} client:only /></s></p> }
          <h3>{fullpass.name}</h3>
        </div>
        <div class="button-container">
          { !fullpass.isSoldOut && <a href={"/pass/" + fullpass.id} class="button action">Buy Now</a> }
          { fullpass.isSoldOut && <button class="button action disabled" disabled>Sold Out</button> }
        </div>
      </div>
    </Card>
    <Card classes={["ticket-card", "ticket", "vipSilverPass"]}>
      <div class="installment-annotation">Pay Over 3 Months</div>
      <div class="container-column">
        <div>
          <h2><Currency price={calculatePrice(vipSilverPass)} client:only /></h2>
          <p class="fInstallment"><FirstInstallment term={3} amountToBePaid={calculatePrice(vipSilverPass)} today={new Date()} client:only /></p>
          { vipSilverPass.price.EUR != vipSilverPass.doorPrice.EUR && <p><s><Currency price={vipSilverPass.doorPrice} client:only /></s></p> }
          <h3>{vipSilverPass.name}</h3>
        </div>
        <div class="button-container">
          { !vipSilverPass.isSoldOut && <a href={"/pass/" + vipSilverPass.id} class="button action">Buy Now</a> }
          { vipSilverPass.isSoldOut && <button class="button action disabled" disabled>Sold Out</button> }
        </div>
      </div>
    </Card>
    <Card classes={["ticket-card", "ticket", "sametCard", "sametBangkokPass"]}>
      <div class="installment-annotation">Pay Over 3 Months</div>
      <div class="container-column">
        <div>
          <h2><Currency price={calculatePrice(sametBangkokPass)} client:only /></h2>
          <p class="fInstallment"><FirstInstallment term={3} amountToBePaid={calculatePrice(sametBangkokPass)} today={new Date()} client:only /></p>
          { sametBangkokPass.price.EUR != sametBangkokPass.doorPrice.EUR && <p><s><Currency price={sametBangkokPass.doorPrice} client:only /></s></p> }
          <h3>{sametBangkokPass.name}</h3>
        </div>
        <div class="button-container">
          { !sametBangkokPass.isSoldOut && <a href={"/pass/" + sametBangkokPass.id} class="button action">Buy Now</a> }
          { sametBangkokPass.isSoldOut && <button class="button action disabled" disabled>Sold Out</button> }
        </div>
      </div>
    </Card>
    <Card classes={["ticket-card", "ticket", "sametCard", "sametPass"]}>
      <div class="installment-annotation">Pay Over 3 Months</div>
      <div class="container-column">
        <div>
          <h2><Currency price={calculatePrice(sametPass)} client:only /></h2>
          <p class="fInstallment"><FirstInstallment term={3} amountToBePaid={calculatePrice(sametPass)} today={new Date()} client:only /></p>
          { sametPass.price.EUR != sametPass.doorPrice.EUR && <p><s><Currency price={sametPass.doorPrice} client:only /></s></p> }
          <h3>{sametPass.name}</h3>
        </div>
        <div class="button-container">
          { !sametPass.isSoldOut && <a href={"/pass/" + sametPass.id} class="button action">Buy Now</a> }
          { sametPass.isSoldOut && <button class="button action disabled" disabled>Sold Out</button> }
        </div>
      </div>
    </Card>
    <Card classes={["ticket-card", "ticket", "vipGoldPass"]}>
      <div class="installment-annotation">Pay Over 3 Months</div>
      <div class="container-column">
        <div>
          <h2><Currency price={calculatePrice(vipGoldPass)} client:only /></h2>
          <p class="fInstallment"><FirstInstallment term={3} amountToBePaid={calculatePrice(vipGoldPass)} today={new Date()} client:only /></p>
          { vipGoldPass.price.EUR != vipGoldPass.doorPrice.EUR && <p><s><Currency price={vipGoldPass.doorPrice} client:only /></s></p> }
          <h3>{vipGoldPass.name}</h3>
        </div>
        <div class="button-container">
          { !vipGoldPass.isSoldOut && <a href={"/pass/" + vipGoldPass.id} class="button action">Buy Now</a> }
          { vipGoldPass.isSoldOut && <button class="button action disabled" disabled>Sold Out</button> }
        </div>
      </div>
    </Card>
</div>

<style is:global>
  .container {
    display: grid;
  }
  #tickets {
    grid-template-areas:
      "fullpassValentine fullpassValentine fullpassValentine fullpassValentine vipSilverValentine vipSilverValentine vipSilverValentine vipSilverValentine vipGoldValentine vipGoldValentine vipGoldValentine vipGoldValentine"
      "bangkok bangkok bangkok bangkok bangkok bangkok samet samet samet samet samet samet"
      "fullpass fullpass fullpass vipSilver vipSilver vipSilver bangkokSamet bangkokSamet bangkokSamet sametGetaway sametGetaway sametGetaway"
      "vipGold vipGold vipGold none none none none none none none none none";
  }
  .bangkok {
    grid-area: bangkok;
  }
  .samet {
    grid-area: samet;
  }
  .heart {
    position: absolute;
    top: -0.65em;
    left: 40px;
    font-size: 2.25em;
  }
  .fullpassValentine {
    grid-area: fullpassValentine;
    
  }
  .fullpassValentine, .vipSilverValentine, .vipGoldValentine {
    background-color: var(--secondary-color) !important;
  }
  .fullpassValentine .button-container .button,
  .vipSilverValentine .button-container .button,
  .vipGoldValentine .button-container .button {
    background-color: var(--primary-color) !important;
  }
  .vipSilverValentine {
    grid-area: vipSilverValentine;
  }
  .vipGoldValentine {
    grid-area: vipGoldValentine;
  }
  .fullpass {
    grid-area: fullpass;
  }
  .vipSilverPass {
    grid-area: vipSilver;
  }
  .sametBangkokPass {
    grid-area: bangkokSamet;
  }
  .sametPass {
    grid-area: sametGetaway;
  }
  .vipGoldPass {
    grid-area: vipGold;
  }
  .date-card {
    height: 375px !important;
  }
  .date-card .background .overlay {
    background-color: rgba(0, 0, 0, 0.4) !important;
  }
  .container-column {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: var(--grid-lg-gap);
    text-align: center;
    justify-content: space-between;
    align-items: center;
  }
  .button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--grid-lg-gap);
  }
  .sametCard {
    background-color: #ccc0ed !important;
    color: var(--primary-darker-color) !important;
  }
  .ticket-card {
    min-height: 275px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: end;
  }
  .ticket-card .text {
    padding: var(--s-padding);
  }
  .ticket-card h3 {
    margin-top: 0.75rem;
  }
  @media only screen and (max-width: 920px) {
    .ticket-card {
      width: 100% !important;
    }
    .ticket-card {
      min-height: 215px;
    }
    .ticket-card .text {
      padding: 1rem var(--s-padding);
    }
    #tickets {
      grid-template-areas:
        "fullpassValentine fullpassValentine fullpassValentine fullpassValentine fullpassValentine fullpassValentine fullpassValentine fullpassValentine fullpassValentine fullpassValentine fullpassValentine fullpassValentine"
        "vipSilverValentine vipSilverValentine vipSilverValentine vipSilverValentine vipSilverValentine vipSilverValentine vipGoldValentine vipGoldValentine vipGoldValentine vipGoldValentine vipGoldValentine vipGoldValentine"
        "bangkok bangkok bangkok bangkok bangkok bangkok bangkok bangkok bangkok bangkok bangkok bangkok"
        "fullpass fullpass fullpass fullpass vipSilver vipSilver vipSilver vipSilver vipGold vipGold vipGold vipGold"
        "samet samet samet samet samet samet samet samet samet samet samet samet"
        "bangkokSamet bangkokSamet bangkokSamet bangkokSamet sametGetaway sametGetaway sametGetaway sametGetaway none none none none" !important;
    }
  }
</style>

<style>
  .fInstallment {
    font-size: var(--h4-font-size);
  }
  .installment-annotation {
    position: absolute;
    font-size: calc(var(--text-font-size) * 0.9);
    background-color: var(--secondary-color);
    padding: 0.5rem 1rem;
    border-radius: 8px;
    top: -1.2rem;
    right: -20px;
    color: var(--text-primary-color);
    /* font-weight: bold; */
  }
  .installment-annotation.valentine {
    background-color: #ccc0ed;
    color: var(--primary-color);
  }
  @media only screen and (max-width: 920px) {
    .installment-annotation {
      display: none;
    }
  }
</style>