---
import Card from "../components/Card.astro";
import Layout from "../layouts/Layout.astro";
import Header from "../sections/edition3/Header.astro";
import Footer from "../sections/Footer.astro";
import { calculateTotal, defaultPasses, type Pass } from "../data/edition3/pass";
import Currency from "../components/Currency.vue";
import FirstInstallment from "../components/FirstInstallment.vue";

const allInclusivePackage = defaultPasses.allInclusivePackage
const partyPackage = defaultPasses.partyPackage
const sametBangkokPass = defaultPasses.sametBangkokPass
function calculatePrice(pass: Pass) {
  return calculateTotal(pass, Object.values(pass.options).filter((option) => option.selected).map((option) => option.id))
}
---

<Layout title="Traveling Packages | Afrokiz Bkk Festival Edition 3">
  <Header />
  <main>
    <div class="container">
      <Card classes={["card big header"]} backgroundPath="/images/beach.png">
        <h2>1 week From Bangkok To Koh Samet Island</h2>
        <p>Experience Thailand like never. Enjoy 1 week of 100% Kizomba dancing in Bangkok and Koh Samet island from 5th to 12th September 2025.</p>
      </Card>
    </div>
    <div class="container">
      <Card classes={["card small package"]}>
        <Card classes={["card"]}>
          <h4>Party Package</h4>
          <h3><FirstInstallment term={3} amountToBePaid={calculatePrice(partyPackage)} today={new Date()} client:only /></h3>
          <p><Currency price={partyPackage.price} client:only /></p>
          <p><a href={"/pass/" + partyPackage.id} class="button action">Buy now</a></p>
        </Card>
        <ul class="options">
          <li><i class="fa-solid fa-circle-xmark"></i> 3 Nights Stay at Bangkok hotel</li>
          <li><i class="fa-solid fa-circle-check"></i> Bangkok Parties</li>
          <li><i class="fa-solid fa-circle-xmark"></i> Bangkok Workshops</li>
          <li><i class="fa-solid fa-circle-check"></i> Bangkok Day Time Social</li>
          <li><i class="fa-solid fa-circle-check"></i> 3 Nights Stay at Koh Samet hotel</li>
          <li><i class="fa-solid fa-circle-check"></i> Koh Samet Parties</li>
          <li><i class="fa-solid fa-circle-check"></i> Koh Samet Workshops</li>
          <li><i class="fa-solid fa-circle-check"></i> Koh Samet Day Time Social</li>
          <li><i class="fa-solid fa-circle-xmark"></i> Cruise Party in Bangkok</li>
          <li><i class="fa-solid fa-circle-check"></i> Breakfast, Lunch and Dinner in Koh Samet</li>
          <li><i class="fa-solid fa-circle-check"></i> Transportation Bangkok to Samet and return</li>
          <li><i class="fa-solid fa-circle-check"></i> Fire Show</li>
          <li><i class="fa-solid fa-circle-xmark"></i> Airport Pick Up</li>
        </ul>
      </Card>
      <Card classes={["card small package"]}>
        <Card classes={["card"]}>
          <h4>Full Pass Package</h4>
          <h3><FirstInstallment term={3} amountToBePaid={calculatePrice(sametBangkokPass)} today={new Date()} client:only /></h3>
          <p><Currency price={sametBangkokPass.price} client:only /></p>
          <p><a href={"/pass/" + sametBangkokPass.id} class="button action">Buy now</a></p>
        </Card>
        <ul class="options">
          <li><i class="fa-solid fa-circle-xmark"></i> 3 Nights Stay at Bangkok hotel</li>
          <li><i class="fa-solid fa-circle-check"></i> Bangkok Parties</li>
          <li><i class="fa-solid fa-circle-check"></i> Bangkok Workshops</li>
          <li><i class="fa-solid fa-circle-check"></i> Bangkok Day Time Social</li>
          <li><i class="fa-solid fa-circle-check"></i> 3 Nights Stay at Koh Samet hotel</li>
          <li><i class="fa-solid fa-circle-check"></i> Koh Samet Parties</li>
          <li><i class="fa-solid fa-circle-check"></i> Koh Samet Workshops</li>
          <li><i class="fa-solid fa-circle-check"></i> Koh Samet Day Time Social</li>
          <li><i class="fa-solid fa-circle-xmark"></i> Cruise Party in Bangkok</li>
          <li><i class="fa-solid fa-circle-check"></i> Breakfast, Lunch and Dinner in Koh Samet</li>
          <li><i class="fa-solid fa-circle-check"></i> Transportation Bangkok to Samet and return</li>
          <li><i class="fa-solid fa-circle-check"></i> Fire Show</li>
          <li><i class="fa-solid fa-circle-xmark"></i> Airport Pick Up</li>
        </ul>
      </Card>
      <Card classes={["card small package"]}>
        <Card classes={["card"]}>
          <h4>All Inclusive Package</h4>
          <h3><FirstInstallment term={3} amountToBePaid={calculatePrice(allInclusivePackage)} today={new Date()} client:only /></h3>
          <p><Currency price={allInclusivePackage.price} client:only /></p>
          <p><a href={"/pass/" + allInclusivePackage.id} class="button action">Buy now</a></p>
        </Card>
        <ul class="options">
          <li><i class="fa-solid fa-circle-check"></i> 3 Nights Stay at Bangkok hotel</li>
          <li><i class="fa-solid fa-circle-check"></i> Bangkok Parties</li>
          <li><i class="fa-solid fa-circle-check"></i> Bangkok Workshops</li>
          <li><i class="fa-solid fa-circle-check"></i> Bangkok Day Time Social</li>
          <li><i class="fa-solid fa-circle-check"></i> 3 Nights Stay at Koh Samet hotel</li>
          <li><i class="fa-solid fa-circle-check"></i> Koh Samet Parties</li>
          <li><i class="fa-solid fa-circle-check"></i> Koh Samet Workshops</li>
          <li><i class="fa-solid fa-circle-check"></i> Koh Samet Day Time Social</li>
          <li><i class="fa-solid fa-circle-check"></i> Cruise Party in Bangkok</li>
          <li><i class="fa-solid fa-circle-check"></i> Breakfast, Lunch and Dinner in Koh Samet</li>
          <li><i class="fa-solid fa-circle-check"></i> Transportation Bangkok to Samet and return</li>
          <li><i class="fa-solid fa-circle-check"></i> Fire Show</li>
          <li><i class="fa-solid fa-circle-check"></i> Airport Pick Up</li>
        </ul>
      </Card>
    </div>
    <div class="container">
      <Card classes={["card header"]} backgroundPath="/images/mahanakhon.png">
        <h3>Bangkok</h3>
        <p>The capital of Thailand with beautiful temples, big shopping malls and amazing food.</p>
      </Card>
      <Card classes={["card header"]} backgroundPath="/images/koh-samet.jpg">
        <h3>Koh Samet Island</h3>
        <p>Relaxing environment with amazing views. Dance on the beach from morning to night.</p>
      </Card>
      <Card classes={["card small"]} backgroundPath="/images/boat4.jpg">
        <h4>Cruise</h4>
        <p>Enjoy a 3 hours cruise party in Bangkok with African food.</p>
      </Card>
      <Card classes={["card small"]} backgroundPath="/images/daytime-social.png">
        <h4>Day Time Social</h4>
        <p>4 hours every day with international DJs.</p>
      </Card>
      <Card classes={["card small"]} backgroundPath="/images/food.png">
        <h4>Breakfast, Lunch and Dinner in Koh Samet</h4>
        <p>Get a taste of authentic thai food.</p>
      </Card>
      <Card classes={["card small"]} backgroundPath="/images/pickup.jpg">
        <h4>Transportation</h4>
        <p>From Bangkok to Koh Samet and return.</p>
      </Card>
      <Card classes={["card big"]} backgroundPath="/images/hotel-room.jpg">
        <h4>Bangkok Hotel</h4>
        <p>3 nights stay with breakfast. Located at 5min walking distance from the venue.</p>
      </Card>
      <Card classes={["card big"]} backgroundPath="/images/samet-hotel.png">
        <h4>Koh Samet Hotel</h4>
        <p>3 nights stay with breakfast, lunch and dinner. Wake up in front of the sea.</p>
      </Card>
      <Card classes={["card small"]} backgroundPath="/images/room3.png">
        <h4>Parties</h4>
        <p>Dance all night until 4AM with the top international DJs.</p>
      </Card>
      <Card classes={["card small"]} backgroundPath="/images/workshop.png">
        <h4>Workshops</h4>
        <p>Learn from the world's top internation artists.</p>
      </Card>
      <Card classes={["card small"]} backgroundPath="/images/beach2.png">
        <h4>Dancing On The Beach</h4>
        <p>Enjoy dancing on the beach from morning till night.</p>
      </Card>
      <Card classes={["card small"]} backgroundPath="/images/fire-show.jpeg">
        <h4>Fire Show</h4>
        <p>Experience fire shows in front of the beach.</p>
      </Card>
    </div>
  </main>
  <Footer />
</Layout>

<style is:global>
  .card > .text {
    padding: var(--lg-padding);
  }
  .card.header.big {
    grid-column: span 12;
    min-height: 400px;
  }
  .card.header > .text {
    width: 50%;
  }
  .card.header {
    grid-column: span 6;
    min-height: 350px;
  }
  .card.big {
    grid-column: span 6;
  }
  .card.big > .text {
    max-width: 50%;
  }
  .card.small {
    grid-column: span 3;
  }
  .card.small.package {
    grid-column: span 4;
  }
  .card.big, .card.small {
    min-height: 250px;
  }
  .card.package {
    align-items: start;
  }
  .card.package > .text {
    padding: var(--xs-padding);
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: var(--grid-s-gap);
  }
  .card.package .card {
    background-color: var(--secondary-color);
    width: 100%;
    height: 240px;
    display: flex;
    flex-direction: column;
    gap: var(--grid-s-gap);
  }
  .card.package .card > .text {
    display: flex;
    flex-direction: column;
    gap: var(--grid-xs-gap);
    align-items: center;
    text-align: center;
  }
  .card.package .options {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  .card.package .button {
    background-color: var(--primary-color);
    display: inline-block;
    font-size: 0.8rem !important;
  }
  .card .background .overlay {
    background-color: rgba(0, 0, 0, 0.5) !important;
  }
  @media only screen and (max-width: 920px) {
    .card.header, .card.small {
      min-height: 200px;
    }
    .card.big {
      grid-column: span 12;
    }
    .card.small {
      grid-column: span 6;
    }
    .card.small.package {
      grid-column: span 6;
    }
    .card.package .card {
      height: 180px;
    }
    .card.header > .text {
      width: 100%;
    }
    .card.package .button {
      font-size: 0.7rem !important;
    }
    .card.header.big {
      min-height: 300px;
    }
    .card.header.big > .text {
      width: 100%;
    }
  }
</style>

<style>
  .container {
    padding: 0 var(--grid-side-padding);
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-gap: var(--grid-s-gap);
  }
  .options {
    padding: 1rem !important;
  }
  .options li {
    margin-bottom: 0.5rem;
  }
  .options li i {
    margin-right: 0.5rem;
  }
  .fa-circle-check {
    color: rgb(0, 208, 0);
  }
  .fa-circle-xmark {
    color: gray;
  }
  @media only screen and (max-width: 920px) {
    .packageContainer {
      flex-direction: column;
      justify-content: center;
    }
  }
</style>